.btn {
  @apply px-4 py-2 rounded-lg font-semibold text-white;
  background: linear-gradient(90deg, #3E6B7B 0%, #71C4E1 100%);
}


input::placeholder{
  color: #656565
}

.dark input::placeholder{
  @apply text-gray-300;
}

@keyframes slideFromRight {
  0% {
    transform: translateX(200px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.slide-right {
  animation: slideFromRight 1s ease-out 0.4s normal;
}


@keyframes slideFromLeft {
  0% {
    transform: translateX(0);
    opacity: 0;
  }
  100% {
    transform: translateX(50px);
    opacity: 1;
  }
}

.slide-left {
  animation: slideFromLeft 1s ease-out 1s normal;
}