/* 1️⃣ Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* 2️⃣ Import Tailwind (v4 merges all layers automatically) */
@import "tailwindcss";
@plugin "daisyui";


/* 3️⃣ Optional: Animation or plugin imports */
@import "tw-animate-css";


/* 4️⃣ Custom Variants (if needed) */
@custom-variant dark (&:is(.dark *));


/* 5️⃣ Your custom CSS */
body {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: #656565;
}

.font-family-abril-fatface{
  font-family: "Abril Fatface", serif;
  letter-spacing: 1px;
}

.text-primary {
  color: #417A8F
}

.text-secondary {
  color: #3E6B7B
}

.text-secondary-50{
  color: #81C1CD;
}


.text-secondary-75{
  color: #84A4B0;
}

.text-tertiary {
  color: #FB452B
}

.text-tertiary-75 {
  color: #FB8573
}

.text-gray-75 {
  color: #7C7C7C
}

.bg-gradient {
  background-image: linear-gradient(to right, #3E6B7B, #71C4E1);
}


/* Custom components */
@import "./styles/components.css"