/* 1️⃣ Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* 2️⃣ Import Tailwind (v4 merges all layers automatically) */
@import "tailwindcss";



/* 3️⃣ Optional: Animation or plugin imports */
@import "tw-animate-css";


/* 4️⃣ Custom Variants (if needed) */
@custom-variant dark (&:is(.dark *));


/* 5️⃣ Your custom CSS */
body {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: #656565;
}

.abril-fatface{
  font-family: "Abril Fatface", serif;
}

/* Custom components */
@import "./styles/components.css"