/* 1️⃣ Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* 2️⃣ Import Tailwind (v4 merges all layers automatically) */
@import "tailwindcss";
@plugin "daisyui";


/* 3️⃣ Optional: Animation or plugin imports */
@import "tw-animate-css";



@theme {
  --text-light: #656565;
  --text-dark: #d0d0d0;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: var(--text-light);
  overflow-x: hidden;
}

.dark body {
  @apply text-gray-400;
}


@keyframes blink {
  0%, 50% { opacity: 1; }
  51%, 100% { opacity: 0; }
}

.after\:animate-blink::after {
  animation: blink 0.8s infinite;
}

@keyframes zoomInOut {
  0%, 100% {
    transform: scale(0.9);
  }
  50% {
    transform: scale(1);
  }
}

.zoom-animation {
  animation: zoomInOut 4s ease-in-out infinite;
}


@import "./styles/color.css";
@import "./styles/components.css";
