/* 1️⃣ Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* 2️⃣ Import Tailwind (v4 merges all layers automatically) */
@import "tailwindcss";
@plugin "daisyui";


/* 3️⃣ Optional: Animation or plugin imports */
@import "tw-animate-css";



@theme {
  --text-light: #656565;
  --text-dark: #d0d0d0;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: var(--text-light);
}

.dark body {
  @apply text-gray-400;
}

@import "./styles/color.css";
@import "./styles/components.css";
